.compare-modal-enter {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.compare-modal-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.compare-modal-exit {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.compare-modal-exit-active {
  transform: translateY(-100%);
  opacity: 0;
}
